<div class="content">
  <header class="body-nav group">
    <ul>
      <li><a>Playlists</a></li>
      <li><a>Recordings</a></li>
      <li class="body-nav-selected"><a>Overview</a></li>
    </ul>
  </header>
  <div class="home-body">
    <section class="home-body">
      <h4>Recordings</h4>
    </section>
    <section>
      <h4>Playlists</h4>
    </section>
  </div>
</div>
<footer class="playbar">
  <ul class="playcontrols">
  </ul>
  <ul class="playtrackdata">
  </ul>
</footer>
