/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, li, ul, ol, div, span, a, img, section, article, form, input {
  border: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: 0;
  font: inherit;
  list-style: inherit;
  background: transparent;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;

}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.signin-header {
  background: #222222;
  font-weight: lighter;

}

.signedin-header {
  background: #333333;
  font-weight: lighter;
}

.signin-header-logo {
  color: white;
  font-size: 14px;
  float: left;
  padding: 0 0px 0px 20px;
}

.signin-header-logo p {
  display: block;
  float: right;
  margin-top: 23px;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.signin-header-logo img {
  height: 30px;
  width: auto;
  margin-top: 15px;
}

.signin-nav {
  float: right;
}

.signin-nav li {
  float: left;
}

.signin-nav a {
  display: block;
  padding: 20px 20px 20px 20px;
  color: #ccc;
  font-weight: lighter;
}

.signin-selected a {
  background-color: white;
  color: black;
  border-radius: 5px 5px 0px 0;
  padding: 10px 20px 20px 20px;
  margin-top: 10px;
  margin-right: 2px;
}

.signin-form {
  max-width: 315px;
  margin: 0 auto;
}

.signin-remote li {
  display: block;
  float: right;
}
.facebook {
  padding: 5px 10px;
  background-color: blue;
  border-radius: 5px;
  color: white;
  max-width: 140px;
  font-size: 14px;

}


.google {
  padding: 5px 10px;
  background-color: red;
  border-radius: 5px;
  color: white;
  max-width: 125px;
  font-size: 14px;

}

.signin-form input, label {
  display: block;
  border-radius: 3px;
}

.signin-form label {
  font-size: 14px;
  display: block;
  padding: 5px;
}

.signedin_badge {
  z-index: 1;
  display: block;
  float: left;
  height: 38px;
  width: 60px;
  padding: 9px 3px 3px 10px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f08080, darkorange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f08080, darkorange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f08080, darkorange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f08080, darkorange); /* Standard syntax */
  margin-left: 20px;
}

.signedin_badge img {
  width: 52px;
  height: 28px;
}

.signin_badge {
  z-index: 1;
  display: block;
  float: left;
  height: 15px;
  width: 15px;
  background-color: orange;
  padding: 10px;
  margin: 10px;
  margin-right: 0;
  margin-left: 20px;
  position: relative;
}



.signin-form input[type=text]{
  width: 300px;
  border: 1px solid #ccc;
  padding: 5px;
}

.signin-form input[type=password]{
  width: 300px;
  border: 1px solid #ccc;
  padding: 5px;
}

.signin-form input[type=submit] {
  margin-top: 10px;
  background-color: #FF6000;
  border: 0 none;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  float: right;

}

.signedin-nav {
  float: right;
  width: 68%;
}

.signedin-nav li {
  display: block;
  padding: 12px 20px;
  float: left;
  color: #ddd;
}

.username:hover {
  color: white;
}

.signedin-nav li input{
  display: block;
  float: left;
  color: #ddd;
}

.signedin-nav li input:hover {
  color: white;
}
.username {
  margin-top: 2px;
  padding-left: 5px;
}

.playlistindex {
  text-align: center;
}

.circle {
  border-radius: 50%;
  background-color: orangered;
  height: 25px;
  width: 25px;
  margin-top: 5px;
}

.home-nav {
  float: left;
  padding-left: 0;
  margin-right: -25px;
}

.home-nav li {
  float: right;
  border-right: 1px solid #222;
}

.home-nav a {
  color: #ccc;
  display: block;
  padding: 15px 30px;
}
.nav-selected {
  background-color: #222;
}

.home-nav a:hover {
  color: white;
}



.upload a:hover {
  color: white;
}

.searchdiv input[type=text] {
  width: 275px;
  height: 15px;
  background: #eee;
  border-radius: 3px;
  padding: 5px;
  float: left;
  color: #222;
  position: relative;
}

.searchdiv img {
  position: absolute;
  max-height: 18px;
  margin-left: -23px;
  margin-top: 3px;
}
.username {
  margin-top: 2px;

}

.upload {
  margin-top: 2px;
  padding: 0;
}
.upload a {
  color: #ddd;
  padding: 0;
  margin-left: -10px;
}

/***** HOME PAGE *******/
html {
  background-color: #eee;
}
.content {
  background-color: white;
  margin: -17px 20px;
  padding: 25px;
  height: 100%;
}

.body-nav {
  width: 100%;
  font-size: 18px;
  margin-bottom: -1px;
}

.home-body h4 {
  font-weight: normal;
}

.home-body section {
  border-top: 1px solid #ccc;
}

.body-nav ul {
  float: left;
  padding: 0;

}

.body-nav li {
  float: right;
}

.body-nav a {
  display: block;
  padding: 10px 20px;
}
.form-content-header {
  width: 600px;
  margin: 0 auto;
}
.form-content {
  background: white;
  width: 600px;
  margin: 0 auto;
  padding: 40px 10px;
  margin-top: -18px;

}

.body-nav-selected {
  color: orange;
  border-bottom: 1px solid orange;
}

.playbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #ccc;
}

.track-image {
  float: left;
  height: 50px;
  width: 50px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FF9900, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF9900, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FF9900, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FF9900, yellow); /* Standard syntax */
  margin-right: 10px;
}

.recording-index-item {
  margin-bottom: 30px;
  margin-left: 30px;
}
.detail-pic {
  float: right;
  width: 300px;
  height: 300px;
  background-color: gray;
}
.detail-info {
  float: left;
  margin-top: 65px;
  margin-left: 70px;
  width: 180px;
}

.detail-info ul {
  float:right;
  padding-left: 5px;
}
.detail-info li{
  display: block;
  background-color: black;
  color: white;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
}

.big-play-button {
  height: 65px;
  width: 65px;
  background-color: orange;
  padding: 0;
  margin-top: 5px;
  float: left;
  border-radius: 50%;
}

.detailblock {
  margin: -26px;
  overflow: hidden;
  background-color: #aaa;
}

.detailblock img{
  width: 120%;
  height: auto;
}

.show-side-bar {
  margin-top: 35px;
  float: right;
  width: 185px;
  height: 200px;
  border-left: 1px solid #ccc;

}

.show-side-bar h4 {
  display: block;
  margin: 0 15px;
}

.show-side-bar a {
  color: black;
}

.author-info {
  float: left;
  max-width: 225px;
  margin-top: 25px;
}

.author-profile-pic {
  margin-top: 45px;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  background: -webkit-linear-gradient(#f08080, darkorange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f08080, darkorange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f08080, darkorange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f08080, darkorange); /* Standard syntax */
}

.author-profile-pic p{
  padding-top: 20px;
  color: white;
}

.author-name {
  text-align: center;
  margin-top: 10px;
  color: #555;
}

.play-footer {
  height: 40px;
  background-color: #777;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.play-footer p {
  text-align: center;
  color: white;
}
