/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, li, ul, ol, div, span, a, img, section, article, form, input {
  border: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: 0;
  font: inherit;
  list-style: inherit;
  background: transparent;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.signin-header {
  background: #222222;
}

.signedin-header {
  background: #333333;
}

.signin-header-logo {
  color: white;
  font-size: 16px;
  float: left;
  padding: 20px 0px 20px 20px;
}

.signin-nav {
  float: right;
}

.signin-nav li {
  float: left;
}

.signin-nav a {
  display: block;
  padding: 20px 20px 20px 20px;
  color: #ccc;
  font-weight: lighter;
}

.signin-selected a {
  background-color: white;
  color: black;
  border-radius: 5px 5px 0px 0;
  padding: 10px 20px 20px 20px;
  margin-top: 10px;
  margin-right: 2px;
}

.signin-form {
  max-width: 315px;
  margin: 0 auto;
}

.signin-remote li {
  display: block;
  float: right;
}
.facebook {
  padding: 5px 10px;
  background-color: blue;
  border-radius: 5px;
  color: white;
  max-width: 140px;
  font-size: 14px;

}


.google {
  padding: 5px 10px;
  background-color: red;
  border-radius: 5px;
  color: white;
  max-width: 125px;
  font-size: 14px;

}

.signin-form input, label {
  display: block;
  border-radius: 3px;
}

.signin-form label {
  font-size: 14px;
  display: block;
  padding: 5px;
}

.signedin_badge {
  z-index: 1;
  display: block;
  float: left;
  height: 49px;
  width: 49px;
  background-color: orange;
  margin-right: 0;
  margin-left: 20px;
}

.signin_badge {
  z-index: 1;
  display: block;
  float: left;
  height: 15px;
  width: 15px;
  background-color: orange;
  padding: 10px;
  margin: 10px;
  margin-right: 0;
  margin-left: 20px;
}

.signin-form input[type=text]{
  width: 300px;
  border: 1px solid #ccc;
  padding: 5px;
}

.signin-form input[type=password]{
  width: 300px;
  border: 1px solid #ccc;
  padding: 5px;
}

.signin-form input[type=submit] {
  margin-top: 10px;
  background-color: #FF6000;
  border: 0 none;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  float: right;

}

.signedin-nav {
  float: right;
  width: 68%;
}

.signedin-nav li {
  display: block;
  padding: 12px 20px;
  float: left;
  color: #ddd;
}

.username:hover {
  color: white;
}

.signedin-nav li input{
  display: block;
  float: left;
  color: #ddd;
}

.signedin-nav li input:hover {
  color: white;
}
.username {
  margin-top: 2px;
  padding-left: 5px;
}

.playlistindex {
  text-align: center;
}

.circle {
  border-radius: 50%;
  background-color: orangered;
  height: 25px;
  width: 25px;
  margin-top: 10px;
}

.home-nav {
  float: left;
  padding-left: 0;
  margin-right: -25px;
}

.home-nav li {
  float: right;
  border-right: 1px solid #222;
}

.home-nav a {
  color: #ccc;
  display: block;
  padding: 15px 30px;
}
.nav-selected {
  background-color: #222;
}

.home-nav a:hover {
  color: white;
}

.upload {
  margin-top: 2px;
}
.upload a {
  color: #ddd;
}

.upload a:hover {
  color: white;
}

.searchdiv input[type=text] {
  width: 300px;
  height: 15px;
  background: #eee;
  border-radius: 3px;
  padding: 5px;
  float: left;
  color: #222;
}
.username {
  margin-top: 2px;

}
