/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, li, ul, ol, div, span, a, img, section, article, form, input {
  border: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: 0;
  font: inherit;
  list-style: inherit;
  background: transparent;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;

}


.group:after {
  content: "";
  display: block;
  clear: both;
}

/********** landing page ***********/

.masthead {
  background-image: url('http://images1.phoenixnewtimes.com/imager/u/original/7802041/16197069411_5f5003bc13_k.jpg');
  height: 520px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  width: 100%;
  clear: both;
}

.masthead ul {
  float: right;
}

.masthead nav li {
  float: left;
}

.masthead nav {
  padding: 10px;
}

.masthead nav a {
  display: block;
  color: white;
  padding: 10px 20px;
}

.masthead-signup {
  border: 1px solid white;

}

.masthead-logo {
  float: left;
}

.masthead h3 {
  color: white;
  font-size: 24px;
  width: 60%;
  min-width: 280px;
  text-align: center;
  margin-left: 20%;
  font-weight: normal;
  padding-top: 225px;

}

.masthead-logo img {
  float: left;
  height: 30px;
  width: auto;
  padding: 10px;
  margin-left: 30px;
}

.masthead-logo p {
  float: left;
  max-width: 200px;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  font-size: 14px;
}

.signin-header {
  background: #222222;
  font-weight: lighter;
  padding: 0px 10px;
  position: relative;
  margin: -20px;
  border-bottom: none;
}

.entry-search {
  text-align: center;
}

.entry-search p {
  display: inline-block;
  padding: 0 30px;
  color: white;
}

.entry-add {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
}

.entry-add:hover {
  padding: 9px;
  border: 2px solid white;
}

.entry-search-bar {
  display: inline-block;
  background-color: #ddd;
  color: #aaa;
  font-size: 14px;
  padding: 10px;
  border-radius: 3px;
  width: 25%;
  min-width: 220px;
}
.entry-search-bar:hover {
  background-color: #eee;
}

.entry-search-bar:focus {
  background-color: #eee;
  color: #444;
}

.entry-track-index {
  margin-top: 540px;
}

.entry-track-index ul {
  padding: 13px;
  padding-top: 0px;
  margin-top: 0px;
  height: 226px;
  overflow: hidden;
}

.entry-track-index p {
  margin: 5px;
  margin-left: 15px;
  font-size: 14px;
}

.entry-index-title {
  color: #222;
}

.entry-index-user {
  color: #444;
}

.entry-track-index li {
  float: left;
}

.entry-track-index h4 {
  margin-bottom: 10px;
  color: #444;
  font-size: 18px;
  text-align: center;
}

.index-pic {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(red, darkorange); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(red, darkorange); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(red, darkorange); /* For Firefox 3.6 to 15 */
  background: radial-gradient(red, darkorange); /* Standard syntax */
  width: 180px;
  height: 180px;
  margin: 10px;
  float: left;
  overflow: hidden;
  display: block;
}

.index-pic img {
  height: 100%;
  width: auto;
}

.signedin-header {
  background: #333333;
  font-weight: lighter;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.signin-header-logo {
  color: white;
  font-size: 14px;
  padding: 0 0px 0px 20px;
  float: left;
}

.signin-header-logo p {
  display: block;
  float: right;
  margin-top: 25px;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.signin-header-logo img {
  height: 30px;
  width: auto;
  margin-top: 15px;
  float: left;
}

.signin-nav ul {
  float: right;
}

.signin-nav ul li{
  display: block;
  float: left;
  padding: 20px 20px 20px 20px;
  color: #ccc;
  font-weight: lighter;
}

.signin-nav li a {
  color: #777;
}

.signin-selected a {
  background-color: white;
  color: #333;
  border-radius: 5px 5px 0px 0;
  padding: 10px 20px 21px 20px;
  margin-top: 10px;
  margin-right: 2px;
}

.signin-form {
  width: 600px;
  margin: 0 auto;
  background: white;
}


.signin-remote li {
  display: block;
  float: right;
}
.facebook {
  padding: 5px 10px;
  background-color: blue;
  border-radius: 5px;
  color: white;
  max-width: 140px;
  font-size: 14px;

}


.google {
  padding: 5px 10px;
  background-color: red;
  border-radius: 5px;
  color: white;
  max-width: 125px;
  font-size: 14px;

}

.signin-form input, label {
  display: block;
  border-radius: 3px;
  margin: 0 auto;
  border-bottom: none;
}

.signin-form label {
  font-size: 14px;
  display: block;
  padding: 5px;
  margin-left: 23%;
}

.signedin_badge {
  z-index: 1;
  display: block;
  float: left;
  height: 38px;
  width: 60px;
  padding: 9px 3px 3px 10px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f08080, darkorange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f08080, darkorange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f08080, darkorange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f08080, darkorange); /* Standard syntax */
  margin-left: 20px;
}

.signedin_badge img {
  width: 52px;
  height: 28px;
}

.signin_badge {
  z-index: 1;
  display: block;
  float: left;
  height: 15px;
  width: 15px;
  background-color: orange;
  padding: 10px;
  margin: 10px;
  margin-right: 0;
  margin-left: 20px;
  position: relative;
}



.signin-form input[type=text]{
  width: 300px;
  border: 1px solid #ccc;
  padding: 5px;
}

.signin-form input[type=password]{
  width: 300px;
  border: 1px solid #ccc;
  padding: 5px;

}

.signin-form input[type=submit] {
  margin-top: 10px;
  background-color: #FF6000;
  border: none;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  float: right;

}

.signedin-nav {
  float: right;
  width: 68%;
}

.nav-username {
  color: #ddd;
}

.nav-username:hover {
  color: white;
}

.signedin-nav li {
  display: block;
  padding: 12px 20px;
  float: left;
  color: #ddd;
}

.username:hover {
  color: white;
}

.signedin-nav li input{
  display: block;
  float: left;
  color: #ddd;
}

.signedin-nav li input:hover {
  color: white;
}
.username {
  margin-top: 2px;
  padding-left: 5px;
}

.playlistindex {
  text-align: center;
}

.circle {
  border-radius: 50%;
  background-color: orangered;
  height: 25px;
  width: 25px;
  margin-top: 5px;
}

.home-nav {
  float: left;
  padding-left: 0;
  margin-right: -25px;
}



.home-nav li {
  float: right;
  border-right: 1px solid #222;
}

.home-nav a {
  color: #ccc;
  display: block;
  padding: 15px 30px;
}
.nav-selected {
  background-color: #222;
}

.home-nav a:hover {
  color: white;
}



.upload a:hover {
  color: white;
}

.searchdiv input[type=text] {
  width: 275px;
  height: 15px;
  background: #eee;
  border-radius: 3px;
  padding: 5px;
  float: left;
  color: #222;
  position: relative;
}

.searchdiv img {
  position: absolute;
  max-height: 18px;
  margin-left: -23px;
  margin-top: 3px;
}
.username {
  margin-top: 2px;

}

.upload {
  margin-top: 2px;
  padding: 0;
}
.upload a {
  color: #ddd;
  padding: 0;
  margin-left: -10px;
}

/***** HOME PAGE *******/
html {
  background-color: #eee;
}
.content {
  background-color: white;
  margin: 20px;
  padding: 25px;
  padding-top: 30px;
  padding-bottom: 0;
  height: 100%;

}

.body-nav {
  width: 100%;
  font-size: 18px;
  margin-bottom: -1px;
}

.home-body {
  background: white;
  padding: 0 20px;
}

.home-body h4 {
  font-weight: normal;
}


.body-nav ul {
  float: left;
  padding: 0;

}

.body-nav li {
  float: right;
}

.body-nav a {
  display: block;
  padding: 10px 20px;
}
.form-content-header {
  width: 100%;
  margin: 0 auto;
}
.form-content {
  background: white;
  width: 100%;
  padding: 40px 10px;
  border-top: none;
}

.body-nav-selected {
  color: orange;
  border-bottom: 1px solid orange;
}

.playbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #ccc;
}

.track-image {
  width: 100%;
}

.recording-index-item {
  float: left;
  margin: 15px;
  height: 210px;
}

.recording-index-item ul {
  margin-left: 0;
  padding-left: 0;
}

.recording-index-pic {
  height: 180px;
  width: 180px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FF9900, #bbb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF9900, #bbb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FF9900, #bbb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FF9900, #bbb); /* Standard syntax */
  overflow: hidden;
}
.detail-pic {
  float: right;
  width: 300px;
  height: 300px;
  background-color: #111;
}
.detail-info {
  float: left;
  margin-top: 65px;
  margin-left: 70px;
  width: 300px;
}

.detail-info ul {
  float:left;
  padding-left: 5px;
}
.detail-info li{

  display: block;
  background-color: black;
  color: white;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
}

.big-play-button {
  height: 65px;
  width: 65px;
  background-color: orange;
  padding: 0;
  margin-top: 5px;
  float: left;
  border-radius: 50%;
}

.detailblock {
  margin: 0;
  margin-left: -26px;
  padding-top: 50px;
  width: 100%;
  overflow: hidden;
  background-color: #bbb;
  overflow: hidden;
}

.detailblock img{
  width: 120%;
  height: auto;
}

.show-side-bar {
  margin-top: 35px;
  float: right;
  width: 185px;
  border-left: 1px solid #ccc;
  background-color: white;
  width: 275px;
  height: 100%;
  min-height: 140px;
  padding-bottom: 20px;
  margin-bottom: 15px;

}

.side-bar-content {
  min-height: 100px;
}

.sidebar-list-item {
  padding: 20px 0;
  margin: 10px;
  margin-left: 0;
  border-bottom: 1px solid #ccc;
}

.sidebar-list-item a {
  display: block;
  padding-top: 5px;
  color: #444;
  font-size: 14px;
}
.sidebar-list-item span {
  margin-left: 5px;

}

.sidebar-pic {
  width: 35px;
  height: 35px;
  overflow: hidden;
  float: left;
}
.sidebar-pic img {
  height: 100%;
}
.sidebar-list-item a:hover{
  color: darkorange;
}

.sidebar-list-item a:active {
  color: orange;
}




.show-side-bar > h4 {
  display: block;
  margin: 0 15px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  color: #444;
  padding-bottom: 5px;
  font-size: 16px;
}


.author-info {
  float: left;
  max-width: 225px;
  margin-top: 25px;
}

.author-profile-pic {
  margin-top: 45px;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  background: -webkit-linear-gradient(#f08080, darkorange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f08080, darkorange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f08080, darkorange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f08080, darkorange); /* Standard syntax */
}

.author-profile-pic p{
  padding-top: 20px;
  color: white;
}

.author-name {
  text-align: center;
  margin-top: 10px;
  color: #555;
  margin-bottom: 15px;
}

.play-footer {
  height: 40px;
  background-color: #777;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.play-footer p {
  text-align: center;
  color: white;
}

.new-recording-form input{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  width: 275px;
}



.new-recording-form {
  background: white;
  margin: 0px 20px 0px 20px;
}

.new-recording-form h3 {
  color: #555;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px 10px 10px;
  margin: 0 10px;
  margin-bottom: 20px;
}

.new-recording-form label {
  color: #555;
}

.new-recording-form input[type=submit] {
  width: 120px;
  color: #555;
}

.new-recording-form input[type=submit]{
  background-color: darkorange;
  color: white;
  border: none;
  padding: 5px 15px;
}

.new-recording-form ul {
  margin-top: 25px;
  float: left;
}

.new-recording-form ul li{
  float: right;
}

.new-recording-form button {
  margin-top: 5px;
  color: #aaa;
  border: none;
  background-color: white;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-right: 15px;
}

.new-recording-form button:hover {
  color: #555;
}


.upload-track-pic {
  height: 300px;
  width: 300px;
  background: -webkit-linear-gradient(lightgray, orangered); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(lightgray, orangered); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lightgray, orangered); /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightgray, orangered); /* Standard syntax */
  float: left;
  margin: 0px 30px;
  margin-bottom: 30px;
}

.upload-track-pic p {
  display: block;
  margin: 0 auto;
  margin-top: 20%;
  color: #555;
  border: 1px solid #555;
  width: 122px;
  padding: 10px 20px;
}

.upload-track-pic p:hover {
  border: 1px solid white;
  color: white;
}

.signin-form button {
  font-size: 14px;
  color: white;
  border: none;
  margin-top: 20px;
  background-color: orange;
  float: right;
  cursor: pointer;
  margin-right: 155px;
  padding: 5px 20px;
}

.signedin-nav button {
  font-weight: lighter;
  padding-top: 1px;
  font-size: 16px;
  color: #ddd;
  border: none;
  background-color: #333;
  cursor: pointer;
}

.collection-nav {
  width: 100%;
  display: block;
  clear:right;
}

.collection-nav-list{
  float: left;
  margin: 10px 15px;
  padding-left: 0;
  color: #455;
}

.collection-nav-list li {
  float: right;
  font-size: 22px;
}

.collection-nav-list a {
  display: block;
  padding: 10px;
  cursor: pointer;
  margin-right: 12px;
  font-weight: lighter;
}

.collection-rows {
  padding-top: 5px;
  width: 100%;
  display: block;
}

.collection-rows h5 {
  padding: 50px 15px 15px 15px;
  font-size: 18px;
  color: #444;
  width: 100%;
  display: block;
}

.collections-selected a{
  color: orange;
  border-bottom: orange solid 2px;
}
